@import '~bootstrap/scss/bootstrap';

body {
  background-color: black;
  //font-size: 16px;
}

.reset-button {
  font-size: 18px;
  padding: 5px;
  justify-content: center;
  float: right;
}

form {
  width: 25.5%;
  height: 10%;
  padding: 20px;
  margin-left: 300px;





}



h1,
h2,
h3 {
  color: white;
  text-align: center;
  font-family: VCR OSD mono;
  // margin-right: 800px;
}

h1 {
  font-size: 100px;
  text-align: center;
  font-family: VCR OSD mono;


}

p {
  color: white;
  font-family: VCR OSD mono;
}


.boxes {
  font-size: 50px;
  text-align: center;
  height: 500px;
  width: 500px;
  width: 55%;
  //justify-content:

}

.forms {
  width: 42%;
  //float: left;
  // clear: both;
  margin-left: 300px;




}
.change-pass,
.sign-out {
  width: 42%;
  //float: right;
  clear: both;
  margin-left: 500px;
// margin-top: 10px;
}


.box {
  align-items: center;
  background-color: white;
  border: 4px solid black;
  color: black;
  display: flex;
  height: 150px;
  width: 150px;
  justify-content: center;

}

footer {
  color: white;

  text-align: center;
  justify-content: center;
  font-size: 80px;
  // margin-left: 50px;
  margin-top: 200px;
  font-family: VCR OSD mono;





}
